<form method='post' action='phonebook'>


	<input type='text' name='first_name' placeholder="First Name"><br>

	<input type='text' name='last_name' placeholder="Last Name"><br>

	<input type='text' name='street_address' placeholder="Street Address"><br>

	<input type='text' name='city' placeholder="City"><br>

	<input type='text' name='state' placeholder="State"><br>

	<input type='text' name='zip' placeholder="Zip"><br>

	<input type='text' name='mobile_number' placeholder="Mobile Number"><br>
	<input type='submit' value='Add Contact'><p> 

</form>

	<table class='table' border='1'>
		<thread>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Street Address</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Mobile Number</th>
			</tr>
		</thread>
		 <tbody>
           <%phonebook.each do |contacts|%>
           <tr>
               <td><%=contacts["first_name"] %></td>
               <td><%=contacts["last_name"] %></td>
               <td><%=contacts["street_address"] %></td>
               <td><%=contacts["city"] %></td>
               <td><%=contacts["state"] %></td>
               <td><%=contacts["zip"] %></td>
               <td><%=contacts["mobile_number"] %></td>
           </tr>
           <%end%>
       </tbody>
   </table>
<p>
<form action="update" method="post">
	<select name='contact'>
			<option value='col_first_name'>First Name</option>
			<option value='col_last_name'>Last Name</option>
			<option value='col_address'>Street Address</option>
			<option value='col_city'>City</option>
			<option value='col_state'>State</option>
			<option value='col_zip'>Zip</option>
			<option value='col_cell'>Mobile Number</option>
	</select><br>
		<input type="text" name="old_data" placeholder="Mobile Number"><br>
	  	<input type="text" name="new_data" placeholder="New Data"><br>
	    <input type="submit" value="Update">
</form>
<!-- <form action= "/update" method= "post">
	<input type = "text" name= "fname" placeholder="First Name"><br>
   <input type = "text" name= "first_name_update" placeholder="Updated First Name"><br>
   <input type = "text" name= "lname" placeholder="Last Name"><br>
   <input type = "text" name= "last_name_update" placeholder="Updated Last Name"><br>
   <input type = "submit" value = "Update Contact">
</form> -->
<p>
<form action='/delete' method="post">
	<input type = 'text' name='trash_name' placeholder="First Name"><br>
	<input type="submit" value="Delete Contact">
</form>
